.form_container {
   display: flex;
   flex-direction: column;
   width: 50%;
   padding: 20px;
   justify-content: center;
   border: 1px solid black;

   .cancel {
      padding: 10px;
      position: absolute;
      top: 68%;
      left: 8%;
      margin-right: 10px;
      margin-top: 10px;
      width: 100px;
   }

   input {
      width: 200px;
      height: 30px;
      font-size: 16px;
      padding-left: 6px;
      border: 1px solid black;

      &:focus {
         outline: none;
      }
   }

   .form {
      width: 80%;


      table {
      
         tr{
            border: 1px solid black;
            red {
               color: red;
            }

            p {
               width: 200px;
               position: absolute;
               color: red;
            }
         }

         td {
            width: 150px;
         }
      }
   }

   .btn {
      * {
         padding: 10px;
         margin-right: 10px;
         margin-top: 10px;
      }
   }
}